<% if user_signed_in? %>
  <div class="like-icon <%= current_user.favorited?(style) ? ' red' : '' %>" data-id="<%= style.id %>" >
    <i id='heart-button-<%=style.id %>' class=" far fa-heart <%= current_user.favorited?(style) ? 'font-weight-900' : ''  %>"></i>
  </div>
<% end %>
