<% content_for :meta_title, "my mode | New Blog" %>

<div class="container my-5">
  <h1>New Blog Post</h1>
  <p>Write a new blog post:</p>
  <%= render 'new_blog_post', blog: @blog, remote: true %>
</div>
