<div class="footer">
  <div class="footer-links">
    <%= link_to "https://github.com/speakinginlungs/my-mode", target: "_blank", rel: "noopener" do %>
      <i class="fab fa-github"></i>
    <% end %>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
