<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made by Anthony Shaw
  </div>
  <div class="row">
    <div class="col">Hey</div>
    <div class="col">there</div>
    <div class="col">my</div>
    <div class="col">Friend</div>
  </div>
</div>
