<% content_for :meta_title, "my mode | About" %>

<div class="about-banner">
  <div class="container my-5">
  </div>
</div>
<div class="container my-5">
  <h1 class="page-heading">About</h1>
  <hr>
  <h2>What is My Mode?</h2>
  <%= image_tag "https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80", height: "240px"%>
  <p>Dedicated to providing you with the inspiration you need to make your fashion dreams come true, <em>My Mode</em> is here to give you the opportunity to combine different fashion items into reality.</p>
  <p>Using our advanced style builder, you can create different looks that fit your sensibilities.</p>
  <p>Whether's it's preppy, athleisure or streetwear, let my mode make it your own.</p>
</div>
