<% content_for :meta_title, "my mode | About " %>

<div class="about-banner">
  <div class="container my-5">

  </div>
</div>
<div class="container my-5">
  <h1 class="page-heading">About</h1>
  <h2>Who we are</h2>
  <p>Dedicated to providing you with the inspiration you need to make your fashion dreams come true.</p>
</div>
