<% content_for :meta_title, "my mode | About" %>

<div class="about-banner">
  <div class="container my-5">
  </div>
</div>
<div class="container my-5">
  <h1 class="page-heading">About</h1>
  <hr>
  <h2>Who we are</h2>
  <p>Dedicated to providing you with the inspiration you need to make your fashion dreams come true, <em>My Mode</em> is here to give you the opportunity to combine different fashion items into reality.</p>
</div>
