<div class="banner mb-4">
  <div class="container">
    <div class="landing-page-container background-white d-flex flex-column">
      <h1 id="landing-page-logo">my mode</h1>
      <p>Share looks, styles and collections.</p>
    <%= link_to "see styles", styles_path %>
    </div>

  </div>
</div>
<div class="container mb-3">


</div>
