
    <div class="banner">
        <div class="container">
          <h1 class='py-3' id='landing-page-logo'>my mode</h1>
          <p><%= link_to "Find your style.", styles_path, class:'button btn-black'  %></p>
        </div>
   </div>
<div class='container my-5'>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>The new way to share fashion ideas</h2>
      <p>Tired of your wardrobe? <br>Need inspiration? <br> Or do you want to show off the drip?</p>
      <p>my mode allows you to create and share lookbooks</p>
      <%= link_to "Create a lookbook", my_styles_path, class: 'button btn-black'  %>
    </div>
  </div>
</div>
