<div class="container mb-3">
<div class="row justify-content-center">
<h1>Find your mood.</h1>
</div>
<div class="row justify-content-center my-4">
  <div class="col sm-12 text-center">
    <h3>For men</h3>
    <%= link_to men_path do %>
    <%= image_tag "https://images.unsplash.com/photo-1512353087810-25dfcd100962?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bW9kZWwlMjBtZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60", alt: "alttext", class: 'card-home' %>
    <% end %>
  </div>
  <div class="col sm-12 text-center">
   <h3>For women</h3>
    <%= link_to women_path do %>
    <%= image_tag "https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60", alt: "alttext", class: 'card-home'  %>
    <% end %>
  </div>
</div>

</div>
