
<div class="container mt-4">
<h1>Men</h1>

<div class="row">
<% Item::ITEM_CATEGORIES.each do |category| %>
<div class="card">
  <%= link_to "men/#{category}" do %>
    <div class="card-title">
     <p><%= category %></p>
   </div>
  <% end %>
<% end %>
</div>
</div>
<% @items.each do |item| %>
 <%= item.name %>
 <p>£<%= item.price %></p>

<% end %>
</div>
