
<div class="container mt-4">
<h1>Men</h1>

<div class="row">
<% Item::ITEM_CATEGORIES.each do |category| %>
  <%= link_to "men/#{category.to_sym}" do %>
    <%= category %>
  <% end %>
<% end %>
</div>
<% @items.each do |item| %>
 <%= item.name %>
 <p>£<%= item.price %></p>

<% end %>
</div>
