<div class="container">

  <h1 class="mb-3"><%= @item.name.capitalize %></h1>
  <% if @item.photos.attached? %>
<%= cl_image_tag(@item.photos[0].key, class: "card-img-top") %>
<% else %>
<h4>Hey</h4>
  <% end %>
</div>
