
<div class="container mt-4">
<h1>Women</h1>


<% Item::ITEM_CATEGORIES.each do |category| %>
  <div class="card" style="width: 18rem">
    <%= link_to "women/#{category}" do %>
     <%= image_tag "#{category}.jpg", alt: "alttext", class: 'clothes' %>
      <div class="card-title">
        <p><%= category %></p>
      </div>
      <div class="card-body">

      </div>
      <% end %>
    </div>
      <% end %>
</div>
