<div class="container my-5">
  <h1 class='page-heading'>Liked Styles</h1>
  <hr>
  <p>You dont have any liked styles. <span><strong><%= link_to 'Why not add one?', styles_path %></span></strong></p>
</div>
