.banner {
  text-align: center;
  background: #dfeaeb;
  background-size: cover;
  height: 200px;


}


.about-banner {
  background-image: asset-url('about-banner.jpg');
  height: 373px;
  display: flex;
  align-items: center;
  background-size: cover;
}

#landing-page-logo {
  font-family: 'Leckerli One', cursive;
  color: #202020;
  font-size: 4.2em;

}

.style-banner {
  background-size: cover;
  background-position: center;
  height: 373px;
  display: flex;
  align-items: center;
}

.svg-banner {
  width: 90%;
}


.sign-up-banner {
  background-image: asset-url('sign-up-banner.jpg');
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {



 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner {
  background-image:  asset-url('banner.jpg');
  background-size: cover;
  height: 500px;
  text-align: right;

 }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner {
  background-image: asset-url('banner.jpg');
  background-size: cover;
  height: 428px;
  text-align: right;

}

.style-banner {
  background-size: cover;
  height: 500px;
  text-align: right;
  background-position: center;
}

.sign-up-banner {
  background-image: asset-url('sign-up-banner.jpg');
  height: 200px;
}


}

#landing-page-logo {
  font-size: 5.2em;
}


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

 }
