.clothes-card {
  background: transparent;
}

.round {
  border-radius: 24px;
}


.card-username {
  max-width: $image-dimensions;
}


.style-item-category {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.overlay {
  opacity: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  text-align: center;
  width: 345px;
  height: 345px;
  border-radius: 24px;
  top: 0;
  left: 15px;
  line-height: 100px;
  background: rgba(0,0,0,0.6);
  color: white;
  align-items: center;
  justify-content: center;

}

.overlay  {
  p {
    font-size: 1em;

  }
}


.overlay:hover {
      opacity:100
}



.display-contents {
  display: contents;
}



// iPhone 4
@media (max-width: 374px) {
    .overlay {
    width: 291px;
    height: 291px;
 }
}

@media (min-width: 576px) {


 }

// Medium devices (phablets/tablets: iPad etc 768px and up)
@media (min-width: 768px) {

  .overlay {
    height: 200px;
    width: 200px;
  }

 }

// Large devices (pro tablets/desktops, 992px and up)
@media (min-width: 992px) {
    .card-username {
    max-width: 200px;
  }

  .overlay {
    height: 200px;
    width: 200px;
  }

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .card-username {
    max-width: 200px;
  }

  .style-item-category {
  text-align: left;
}

.overlay {
  opacity: 0;
  position:absolute;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 24px;
  top: 0;
  left: 15px;
  line-height: 48px;
  background: rgba(0,0,0,0.6);
  color: white;

}

.overlay  {
  p {
    font-size: 1em;
  }
}




  }


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {


 }
