.clothes-card {
  background: transparent;
}

.round {
  border-radius: 24px;
}


.card-username {
  max-width: $image-dimensions;
}


.style-item-category {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dash-overlay {
  top: 16px !important;
}


.overlay {
  opacity: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  text-align: center;
  width: 345px;
  height: 345px;
  border-radius: 24px;
  top: 0;
  left: 15px;
  line-height: 100px;
  background: rgba(0,0,0,0.6);
  color: white;
  align-items: center;
  justify-content: center;

}

.overlay * {
  height: 30%;
}

.overlay  {
  p {
    font-size: 1em;

  }
}


.overlay:hover {
      opacity:100
}



// Galaxy Fold


// iPhone 4
@media (max-width: 374px) {
    .overlay {
    width: 291px;
    height: 291px;
 }
}



@media (max-width: 281px) {
  .overlay {
    width: 250px;
    height: 250px;
  }
 }


@media (min-width: 411px) {
    .overlay {
    width: 228px;
    height: 228px;
    left: 94px;
 }
}

@media (min-width: 576px) {


 }

// Medium devices (phablets/tablets: iPad etc 768px and up)
@media (min-width: 768px) {

  .overlay {
    height: 200px;
    width: 200px;
    left:15px;
  }

 }

// Large devices (pro tablets/desktops, 992px and up)
@media (min-width: 992px) {
    .card-username {
    max-width: 200px;
  }

  .overlay {
  transition: opacity 0.1s;
    height: 200px;
    width: 200px;
    left: 61px;
  }

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


  .card-username {
    max-width: 200px;
  }

  .style-item-category {
    text-align: left;
  }

  .overlay {
    opacity: 0;
    position:absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    top: 0;
    left: 90px;
    line-height: 48px;
    background: rgba(0,0,0,0.6);
    color: white;
  }

  .overlay * {
    height: 67%;
    padding: 16px 8px;
}

  .overlay  {
    p {
      font-size: 1em;
    }
  }

  .dash-overlay {
    left: 15px;
  }

}


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {


 }
