.grid {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;

}

.grid-item {
  position: relative;
  overflow: hidden;

}

.skewY-minus-10 {
  transform: skewY(-10deg);
}

.skewY-10 {
  transform: skewY(10deg);
}


.row-align {
  justify-content: center;
}

.wrapper {

    height: 489px;
    }


    .landing-page-copy {
      transform: skewY(-10deg);
    }
    .landing-page-copy-10 {
      transform: skewY(10deg);
    }

@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .row-align {
      justify-content: flex-start;
    }

    .wrapper {
    margin-top: 127px;
    height: 211px;
    }

    .landing-page-copy {
      transform: skewY(-10deg);
    }
  }


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
