.navbar-my-mode {
  justify-content: space-between;
  background: #202020;
}

.navbar-my-mode .navbar-collapse {
  flex-grow: 0;
}

.navbar-my-mode .navbar-brand img {
  width: 40px;
}

#navbar-logo:hover {
  background: transparent;
  border: none;
}

.active {
  border-bottom: 1px white solid;
}

.navbar {
  a {
    color: #fff;
  }

  a:hover {
    background: #626262;
  }
}

// .notification-item {
//   color: black;
// }

#nav-link-white {
  color: #fff;
  margin: 0 0.5em;
}
#nav-link-white:hover {
  color: #fff;
}
.navbar-toggler {
  border: none;
}

.searchbar {
  display: none;
  background: black;

}

.searchbar  {
  form input {
    background: transparent;
      color: white;



  }

  input::placeholder {
    color: rgba(255,255,255,0.5);
  }

  form input:focus {
    box-shadow: none;
    // box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.5);
    background: transparent;
    border: white 1px solid;
    color: white;

  }

}

#navbar-toggler-icon-light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.6)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

// .navbar-toggler-icon-cross {
//   background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
// }
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .searchbar {
  display: contents;

}

}


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
