// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body h1, h2, h3, p {
  font-weight: lighter;
}

// Application wide styles:

a {
  color: black;
}

a:hover {

  text-decoration: none;
}

#landing-page-logo {
  font-family: 'Leckerli One', cursive;
  color: #202020;
  font-size: 4.2em;
}

.flex-wrapper {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: space-between;
}


