// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body h1, h2, h3, p {
  font-weight: lighter;
}

// Application wide styles:

.page-heading {

  text-align: center;
  margin-bottom: 0.5em;
}

.color-white {
  color: white;
}
.current {
  color:red;
}



.red {
  color: red;
}

.font-weight-900 {

font-weight: 900;
}



a {
  color: black;
}


#like-heart:hover {
  color:red;
}

#like-heart {
  max-width: 200px;
}

.like-icon {
  max-width: 384px;
  text-align: center;
  margin: auto;
}



.flex-wrapper {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: space-between;
}


.white-bckgrnd {
  background: white;
}


@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

a:hover {
  text-decoration: none;
  color:red;
}
.page-heading {

  text-align: left;
   font-size: 4.2rem;
}

  }


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
